package tpl

import (
	"bytes"
)

func head(_buffer *bytes.Buffer) {
	<head>
		<title>Hello from GoHTML</title>
	</head>
}

func Index(name string) []byte {
	_buffer := new(bytes.Buffer)

	<html>
		head(_buffer)
		if name == "" {
			<a>Hello World!</a>
		}else{
			<a>Hello {{name}}</a>
		}
	<html>

	return _buffer.Bytes()
}
