package tpl

import (
	"bytes"
)

func Index(name string) string {
	_buffer := new(bytes.Buffer)

	if name == "" {
		<a>Hello World!</a>
	}else{
		<a>Hello {{name}}</a>
	}

	return _buffer.String()
}
